SERVICES=vpn,navidrome,blog,libretranslate,minecraft-server
SERVER_ADDRESS=example.com

# Caddy published ports
HTTP_PORT=80
HTTPS_PORT=443
CF_API_TOKEN=

BASIC_AUTH_USERNAME=admin
BASIC_AUTH_PASSWORD=mypassword