SERVICES=vpn,navidrome,blog,libretranslate,minecraft-server,authentik
SERVER_ADDRESS=example.com
BASE_DATA_PATH=./data

# Pangolin API credentials
PANGOLIN_ENDPOINT=
NEWT_ID=
NEWT_SECRET=

# Caddy published ports
HTTP_PORT=880
HTTPS_PORT=4443

## Service ports
MCADMIN_PORT=8080
MCMAP_PORT=8081
KUNO_PORT=8082
VPN_PORT=8083
TRANSLATE_PORT=8084
MUSIC_PORT=8085
MUSIC_2_PORT=8086
ZEROBYTE_PORT=8087