SERVICES=vpn,navidrome,blog,libretranslate,minecraft-server,authentik
SERVER_ADDRESS=example.com
BASE_DATA_PATH=./data


#NetBird API credentials
NB_HOSTNAME=My Server
NB_MANAGEMENT_URL=https://netbird.example.com
NB_SETUP_KEY=get this from your NetBird management console