(common) {
	encode gzip zstd
}

(common_basic_auth) {
	basic_auth * argon2id {
		{$BASIC_AUTH_USERNAME} {$BASIC_AUTH_PASSWORD_HASH}
	}
}

:{$VPN_PORT} {
		import common

        # since the container will share the network with wireguard
        # we can use the proper container name
        reverse_proxy tailscale_web:8240 {
			header_up Host {host}
			header_up X-Real-IP {remote_host}
		}
}

:{$MUSIC_PORT} {
	import common

	# 1. Strip the blocking header sent by Navidrome
    header -X-Frame-Options

    # 2. Add your own CSP to allow your website to embed it
    # Replace 'https://your-website.com' with the domain doing the embedding
	header Content-Security-Policy "frame-ancestors 'self' https://{$KUNO_SERVER_ADDRESS}"

	reverse_proxy caddy-navidrome:80  {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
	}
}

:{$TRANSLATE_PORT} {
	import common
		
	reverse_proxy libretranslate:5000  {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
	}
}

:{$KUNO_PORT} {
	import common

	reverse_proxy kuno:80  {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
	}
}

:{$MCADMIN_PORT} {
	import common

	reverse_proxy https://crafty:8443 {
		transport http {
			tls_insecure_skip_verify
		}

		header_up Host {host}
		header_up X-Real-IP {remote_host}
	}
}

:{$MCMAP_PORT} {
	import common

	reverse_proxy crafty:8123  {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
	}
}